html, body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2 !important;
}

.container {
  padding-bottom: 20px;
}

.footer {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.toast-font {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.header-table {
  background-color: #F25C05;
  color: white;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 16px;
  font-weight: bolder;
}